div.callout-note.callout {
border-left-color: #267326;
}

div.callout-note.callout-style-default>.callout-header {
background-color: #26732630;
}

blockquote {
    border-left: .25rem solid #d77d00;
}

.text-tertiary { color: #0078A5; }

/* Section numbering */
.header-section-number {
  color: #267326;
}

/* Equation numbering */
.eq-number {
  color: #267326;
}

/* Figure and table numbering */
.figure-number,
.table-number {
  color: #267326;
}

/* special h3 für heading in webex */

.h3short{
    margin-top: 0.5rem !important;
}